<h4>{{model.artist}} Radio</h4>

{{spotify-player
  playlist=model.playlist
}}

{{#each model.tracks as |track|}}
  {{song-block
    image=track.image
    name=track.name
    popularity=track.popularity
    id=track.external_urls.spotify
    trackMarkets=track.availableMarkets
    albumName=track.album.name
    albumId=track.album.id
    albumMarkets=track.album.available_markets
    albumUrl=track.album.external_urls.spotify
  }}
  {{/each}}
